/target
/tmp
/build
/dist
TODO.txt
.DS_Store
*.zst
*.tar.gz
*.sig
.release/
packages-repo/
packaging/arch/ci/src/
packaging/arch/ci/pkg/
packaging/arch/local/src/
packaging/arch/local/pkg/
packaging/arch/local/PKGBUILD.local
